<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>OnlineArtGalleryManagementSystem</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>registerservlet</display-name>
    <servlet-name>registerservlet</servlet-name>
    <servlet-class>pkg2.registerservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerservlet</servlet-name>
    <url-pattern>/registerservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>loginservlet</display-name>
    <servlet-name>loginservlet</servlet-name>
    <servlet-class>pkg2.loginservlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginservlet</servlet-name>
    <url-pattern>/loginservlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>modelmvc</display-name>
    <servlet-name>modelmvc</servlet-name>
    <servlet-class>model.modelmvc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modelmvc</servlet-name>
    <url-pattern>/modelmvc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>adlogin</display-name>
    <servlet-name>adlogin</servlet-name>
    <servlet-class>adminlog.adlogin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>adlogin</servlet-name>
    <url-pattern>/adlogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addadmin</display-name>
    <servlet-name>addadmin</servlet-name>
    <servlet-class>adminlog.addadmin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addadmin</servlet-name>
    <url-pattern>/addadmin</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>daomvc</display-name>
    <servlet-name>daomvc</servlet-name>
    <servlet-class>dao.daomvc</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>daomvc</servlet-name>
    <url-pattern>/daomvc</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>contactus</display-name>
    <servlet-name>contactus</servlet-name>
    <servlet-class>contactus.contactus</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>contactus</servlet-name>
    <url-pattern>/contactus</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cart2</display-name>
    <servlet-name>cart2</servlet-name>
    <servlet-class>cart.cart2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cart2</servlet-name>
    <url-pattern>/cart2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>cart1</display-name>
    <servlet-name>cart1</servlet-name>
    <servlet-class>cart.cart1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>cart1</servlet-name>
    <url-pattern>/cart1</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>newcart</display-name>
    <servlet-name>newcart</servlet-name>
    <servlet-class>cart.newcart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>newcart</servlet-name>
    <url-pattern>/newcart</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>shipping</display-name>
    <servlet-name>shipping</servlet-name>
    <servlet-class>shipping.shipping</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>shipping</servlet-name>
    <url-pattern>/shipping</url-pattern>
  </servlet-mapping>
</web-app>